<div id="<%= dom_id county %>">
  <p>
    <strong>Name:</strong>
    <%= county.name %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= county.population %>
  </p>

  <p>
    <strong>Coordinates:</strong>
    <%= county.coordinates %>
  </p>

</div>
